{
        admin off
}

{$PUBLIC_HOSTNAME:localhost} {
        encode zstd gzip

        header {
                X-Content-Type-Options "nosniff"
                X-Frame-Options "DENY"
                Referrer-Policy "strict-origin-when-cross-origin"
                Permissions-Policy "interest-cohort=()"
                -Server
        }

        log {
                output stdout
                format json
        }

        reverse_proxy live-location-receiver:8080
}
